/* Background styles with gradient and mouse interaction */
body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Helvetica Neue', sans-serif;
    
}

.summary{
    background-color: rgb(0 0 0 / 9%);
    border-radius: 15px;
}

#sum {
    background-color: #000000 ;
}

#centertxt{
    text-align:center !important;
}

.background {
    position: sticky;
    /* top: 0; */
    /* left: 0; */
    width: 1000px;
    height: 1000px;
    background: repeating-radial-gradient(#1c1c1c, #484848 100px);
    z-index: -1;
    transition: transform 0.2s ease;
    border-radius: 100%;
}

.container {
    text-align: left;
    padding: 40px;
    /* box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2); */
    
    position:absolute;
    animation: fadeIn 2s forwards;
    color: white;
    align-content: center;
    top:0;
}

/* Title and Text */
h1 {
    font-size: 3rem;
    color: #ffffff;
    margin-bottom: 20px;
}

p {
    font-size: 1.4rem;
    color: #ffffff;
}

/* Button Styles */
.button {
    display: inline-block;
    padding: 14px 28px;
    margin-top: 30px;
    font-size: 1.2rem;
    background-color: #ffffff;
    color: #000000;
    text-decoration: none;
    border-radius: 50px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease, color 0.5s ease, background 0.5s ease;
    /* transition: all 0.5s; */
}

.button:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
    background: black;
    color: white;
    /* transition: all 0.5s; */
}

.slide-in {
    animation: slideIn 1.5s ease-out;
}

.slide-in-back {
    animation: slideInBack 1.5s ease-out;
}

/* Animation Styles */
.fade-in {
    opacity: 0;
    animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideInBack {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Responsive Design */
@media (max-width: 768px) {
    h1 {
        font-size: 2.5rem;
    }
    p {
        font-size: 1.2rem;
    }
    .button {
        font-size: 1.1rem;
        padding: 12px 24px;
    }
}
